.container {
  margin: 0 auto;
  max-width: 1508px;
  padding: 0 8.3% 0 8.3%;
}

.grid {
  margin: 0;

}

[class*='col-'] {
  float: left;

}

.col-1-12 {
  width: 8.3%;
}

.col-2-12 {
  width: 16.6%;
}

.col-3-12 {
  width: 25%;
}

.col-4-12 {
  width: 33.3%;
}

.col-5-12 {
  width: 41.6%;
}

.col-7-12 {
  width: 58.3%;
}

.clear {
  float:none;
  color:red;
}

.f-right {
  float:right;
}

.big-box {
  padding: 20px;
  background: #333333;
  margin: 3px;
  height: 647px;
}

.small-box {
  padding: 20px;
  background: #333333;
  margin: 3px;
  height: 301px;
}

.dark-bg {
  background: #333333;
  width: 100%;
  margin: 8.3% 0 0 0;
  height: 1000px;
}
